# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# IDE y sistema
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.*
